.footer {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  color: var(--lemon);
}
.FooterText {
  display: flex;
  justify-content: center;
  font-size: var(--f2);
  padding: 50px 100px;
  text-align: center;
  line-height: 2;
}
@media (max-width: 1000px) {
  .FooterText {
    font-size: var(--f3);

    line-height: 1.54;
  }
}
@media (max-width: 500px) {
  .FooterText {
    font-size: 18px;
    padding: 20px;
    line-height: 1.3;
  }
}
