.Nav {
  max-width: 100%;
  height: 84px;
  background-color: var(--dark);
}

.ContainerNavList {
  display: flex;
  justify-content: space-between;
  padding: 26px 50px;
}

.LeftSidePhoto {
  width: 140px;
  height: 32px;
}
.RightSidePhoto {
  width: 64px;
  height: 32px;
}
@media (max-width: 320px) {
  .ContainerNavList {
    padding: 26px 25px;
  }
}
